<% include ./partials/messages %>
<% include menu %>

  <link rel="stylesheet" href="css/rating.css">
  <div class="row mt-5">
      <div class="col-md-6 m-auto">
        <div class="card card-body">
          <h1 class="text-center mb-3">
            <i class="fas fa-user-plus"></i> Add a Course
          </h1>
         
          <form action="/users/addCourse" method="POST">
            
            <div class="form-group">
              <label for="name">Course Name</label>
              <input
                type="text"
                id="name"
                name="name"
                class="form-control"
                placeholder="Enter Course Name"
                
              />
            </div>
           
            <div class="form-group">
              <label for="Semester">Semester :</label>
              <input
                type="number"
                id="sem"
                name="sem"
                class="form-control"
                
                
              />
            </div>
  
            <div class="form-group">
              <label for="desc">Description :</label>
              <input
                type="text"
                id="desc"
                name="desc"
                class="form-control"
                
                
              />
            </div>
  
            <div class="form-group">
              <label for="Faculty">Faculty :</label>
              <input
                type="text"
                id="Faculty"
                name="Faculty"
                class="form-control"
                
                
              />
            </div>
  
  
    
    
    
    
            <button type="submit" class="btn btn-primary btn-block">
              Submit
            </button>
          </form>
          </div>
      </div>
    </div>
    <script> 
     
      </script> 