<link rel="stylesheet" href="css/rating.css">

<div>
	<!-- <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;"> -->
	
	<style>
	
		a{
			padding-right: 15px;
			list-style:none;
		}
		
		/* mouse over link */
		a:hover {
		  color: white;
		  text-decoration: underline;
		  background-color: #eb6864;
		  display: inline-block;
		}
		
		
	</style>
	
	<nav class="navbar navbar-inverse" role="navigation" style="margin-top:40px;width:100%;overflow:hidden;background-color:#202020;padding:20px;">
		<li>
			<a href="/">Home</a>
			<a href="/users/addReview">Add a Review</a>
			<% if (user.name=="admin") {    %>
			<a href="/users/addCourse">Add Course</a>
			<%         }                    %>

			<% if (user.name=="admin") {    %>
				<a href="/users/delCourse">Delete Course</a>
				<%         }                    %>
		</li>
		<a href="/users/logout">Logout</a>
			 
	</nav>
</div>
